*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive;
    color: red;
/*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
header,nav,ul{
    background: #360033;
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
}
body{
    background: #360033;
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
}
.cards{
    background: #360033;
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
    border-style:hidden;
}
.especial{
    background: #360033;
    background: -webkit-linear-gradient(to left, #0b8793, #360033);
    background: linear-gradient(to left, #0b8793, #360033);
    border-style:hidden;
}
.C9{
    color: red;
}
.div1,.div2{
    display: flex;
    width: 50vh;
    justify-content:center;
}
.div2{
    justify-content: flex-start;
}
.mod2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mod3{
    width: 20vh;
    background-color: white;
    border-collapse: collapse;
    border-color: white;
    border-radius: 0.5rem 0 0 0.5rem;
}
#pp{
    padding-top: 2rem;
    justify-content: center;
}
.cardS{
    display: flex;
    justify-content: space-around;
}
footer{
    display: flex;
    justify-content: space-between;
}
.fond{
    margin: 0 2rem 0 0;
    align-self: end;
}
.fond2{
    display: flex;
    justify-content: space-around;
    width: 20vh;
}
.sp{
    display: flex;
    justify-content:end ;
    align-items: end;
}
.tf{
    font-size: 65%;
    margin: 3rem 1rem 0 1rem;
}
.tt{
    font-size: 130%;
}
.s1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MG{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.mg{
    display: flex;
    flex-wrap: wrap;
}
.fs{
    display: flex;
    justify-content: space-between;
}
.in{
    display: flex;
    border-radius: 0 0.5rem 0.5rem 0;
}
.cs{
    margin: 1rem 1.5rem 0 1.5rem;
}
.dp{
}
.dim{
    display: flex;
    justify-content: center;
}
.imd{
}
.dt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
@media (min-width:375px){
    .mg{
        margin-left: 1.5rem;
        flex-direction: column;
        justify-content: center;
    }
}
@media (min-width:425px){
    .div1,.div2{
        margin: 2vh 0vh 0vh 6vh;
    }
    .mg{
        margin: 6vh;
    }
}
@media (min-width:768px){
    .div2{
        display: flex;
        justify-content: center;;
        margin: 0 10vh 6vh 6vh;
/*         background-color: black; */
        width: 50rem;
    }
    .in{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        display: flex;
    }
    .mg{
        margin: 6vh 6vh 6vh 10vh;
        justify-content: center;
        align-items: center;
    }
    .hs{
        height: auto;
    }
    .cs{
        margin: 2rem 8rem 0 8rem;
    }
}
@media (min-width:1024px){
    .div2{
/*         background-color: black; */
        justify-content:center;
        margin: 0;
        padding: 0;
        width: auto;
    }
    .mg{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        justify-content: baseline;
    }
    .hs{
        display: flex;
        flex-direction: column;
        justify-content:end
    }
    .cs{
        margin: 2rem 10rem 0 10rem;
    }
}
@media (min-width:1440pc) {
    .cs{
        margin: 2rem 18rem 0 18rem;
        width: auto;
    }
}
